@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: #12151c;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;

}

.btn{
  background-color: #661b1c;
  padding: 0.7rem 0.9rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.btn:hover{
  background-color: #531516;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}

